/* Footer */
.footer-container {
    color: darkgoldenrod;
    text-align: center;
}

.footer-container > div,
.footer-container > div > ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.footer-container > div > ul > li {
    list-style: none;
    padding: 0 0.5rem;
}

.footer-container > div,
.footer-container > div > ul > li > a {
    /* color: rgba(75, 36, 13, 0.85); */
    /* text-decoration: none; */
}

.footer-container > div > ul > li > a > img {
    border-radius: 15px;
    height: 30px;
    width: 30px;
}