/* New Layout design */
ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  color: var(--nav-color);
  text-decoration: none;
}

.new-layout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--p-100-px) auto var(--p-100-px);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header Component */
.header-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

#header img {
  height: var(--p-120-px);
  width: var(--p-120-px);
}

/* NavBar Component */
.nav-bar-container-list {
  display: flex;
}

.nav-bar-container-list li {
  padding-right: var(--p-30-px);
}

.nav-bar-container-list li:hover,
.nav-bar-container-list li:active {
  font-weight: bold;
  text-decoration: underline;
}

.nav-bar-container-list li:focus {
  font-weight: bold;
  text-decoration: underline;
}

/* Main Component */
main {
  background-color: var(--main-bg-color);
  padding: var(--p-10-px);
  text-align: center;
}

.portfolio-lists li:hover > a {
  opacity: 1;
}

.portfolio-lists li:hover > a:hover {
  opacity: 0.4;
}

.portfolio-lists li a {
  margin: var(--p-5-px);
}

.portfolio-lists li a img {
  margin: var(--p-5-px);
}

/* Footer Component */
.header-container,
.footer-container {
  align-items: center;
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

.social-media-links li img {
  vertical-align: middle;
}

.social-media-links li a:hover,
.social-media-links li a:active {
  filter: saturate(6);
  -webkit-filter: saturate(6);
}

.social-media-links li a:focus {
  filter: saturate(6);
  -webkit-filter: saturate(6);
}

.social-icon-img {
  filter: invert(80%);
  height: var(--p-50-px);
  padding: 0 var(--p-5-px);
  width: var(--p-50-px);
  -webkit-filter: invert(80%);
}
