/* New Layout design */
ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  color: var(--nav-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.new-layout-container {
  display: grid;
  grid-template-columns: 1fr;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header Component */
.header-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

#header img {
  height: var(--p-100-px);
  padding: var(--p-5-px) 0;
  width: var(--p-100-px);
}

/* NavBar Component */
.nav-bar-container-list {
  display: flex;
}

.link-item {
  padding: var(--p-10-px);
}

.nav-bar-container-list li {
  padding: 10px 10px 10px 0px;
}

.nav-bar-container-list li a {
  padding: var(--p-10-px);
}

.nav-bar-container-list li a:hover,
.nav-bar-container-list li a:active,
.nav-bar-container-list li a:focus,
.link-item:hover,
.link-item:active,
.link-item:focus {
  font-weight: bold;
  text-decoration: underline;
}

/* Main Component */
main {
  background-color: var(--main-bg-color);
  text-align: center;
}

#about {
  margin: var(--p-10-px);
}

#about * {
  display: inline-block;
  background-color: rgb(219, 203, 203);
  /* background-color: rgb(209, 221, 139); */
  display: grid;
  grid-template-columns: 1fr;
  max-width: 72%;
  margin: auto;
}

#about h3 {
  font-size: 1.9rem;
  padding-top: var(--p-10-px);
}

#about p:nth-child(2) {
  font-size: 1.5rem;
  text-align: left;
}

#about p:nth-child(3) {
  padding-top: var(--p-5-px);
  text-align: left;
}

.about-section {
  padding: var(--p-10-px);
}

.portfolio-lists,
.certificate-lists {
  display: inline-block;
  padding: var(--p-10-px);
}

.certificate-lists img {
  height: var(--p-480-px);
  width: var(--p-480-px);
}

.portfolio-lists li,
.certificate-lists li {
  display: grid;
  grid-gap: var(--p-10-px);
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-lists li:hover > a,
.certificate-lists li:hover > a {
  opacity: 0.4;
}

.portfolio-lists li:hover > a:hover,
.certificate-lists li:hover > a:hover {
  opacity: 0.9;
}

.portfolio-lists li a,
.certificate-lists li a {
  position: relative;
}

.portfolio-lists li a img:hover,
.portfolio-lists li a img:focus,
.certificate-lists li a img:hover,
.certificate-lists li a img:focus {
  pointer-events: none;
}

.portfolio-lists li a span,
.certificate-lists li a span {
  display: none;
}

.portfolio-lists li a:hover span,
.portfolio-lists li a:focus span,
.certificate-lists li a:hover span,
.certificate-lists li a:focus span {
  /* background-color: #f1f17e; */
  background-color: var(--a-span-bg-color);
  /* background-color: #c9f17e; */
  /* border: var(--p-1-px) solid #996633; */
  border: var(--p-1-px) solid var(--a-span-color);
  border-radius: var(--p-10-px);
  color: rgb(71, 7, 7);
  display: block;
  font-size: 1rem;
  font-weight: bold;
  left: 15%;
  padding: var(--p-2-px) var(--p-7-px);
  position: absolute;
  top: 30%;
  -webkit-border-radius: var(--p-10-px);
  -moz-border-radius: var(--p-10-px);
  -ms-border-radius: var(--p-10-px);
  -o-border-radius: var(--p-10-px);
}

.certificate-lists li a:hover span,
.certificate-lists li a:focus span {
  max-width: var(--p-300-px);
}

/* Footer Component */
.header-container,
.footer-container {
  align-items: center;
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

.footer-container {
  padding: var(--p-20-px) 0;
}

.social-media-links li img {
  vertical-align: middle;
}

.social-media-links li a:hover,
.social-media-links li a:active {
  filter: saturate(6);
  -webkit-filter: saturate(6);
}

.social-media-links li a:focus {
  filter: saturate(6);
  -webkit-filter: saturate(6);
}

.social-icon-img {
  filter: invert(80%);
  height: var(--p-50-px);
  /* margin: 10px; */
  padding: var(--p-5-px);
  width: var(--p-50-px);
  -webkit-filter: invert(80%);
}
