.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}

.contact-container h2 {
    font-size: 3.5rem;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.contact-container h2::after {
    content: "";
    border: 2px solid goldenrod;
    display: block;
    margin: 10px auto;
    width: 100px;
}
