
.certificates-container {
    text-align: center;
}

.certificate-container {
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    height: 535px;
    /* justify-content: center; */
    /* margin: 0 auto; */
    padding: 10px;
    width: 100%;
}

input[type="radio"] {
    cursor: pointer;
    /* display: block; */
    height: 112px;
    margin-top: 15px;
    width: 140px;
    -webkit-appearance: none;
}

input[type="radio"]:checked {
    border: 2px solid orange;
}

.large-image {
    background-size: cover;
    /* background-size: contain; */
    height: 80%;
    position: absolute;
    right: 50px;
    transition-duration: 0.5s;
    top: 20px;
    width: 50%;
}

#voyage09 {
    background-image: url(../../../images/Chingu_Voyage_9_Completion_Certificate.jpg);
    background-size: contain;

}

#voyage09:checked ~ .large-image {
    background-image: url(../../../images/Chingu_Voyage_9_Completion_Certificate.jpg);
}

#voyage11 {
    background-image: url(../../../images/Voyage_11_-_Completion_Certificate.jpg);
    background-size: contain;

}

#voyage11:checked ~ .large-image {
    background-image: url(../../../images/Voyage_11_-_Completion_Certificate.jpg);
}

#voyage12 {
    background-image: url(../../../images/Voyage_12_-_Completion_Certificate.jpg);
    background-size: contain;

}

#voyage12:checked ~ .large-image {
    background-image: url(../../../images/Voyage_12_-_Completion_Certificate.jpg);
}