nav {
    align-items: center;
    /* background: rgb(73, 79, 82); */
    color: #fff;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
}

.nav-links-new {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40%;
}

/* Logo */
.logo-div {
    color: #fff;
    float: left;
}
.logo-div .logo {
    background: url('../../../images/My-logo.png') no-repeat center/cover;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 12vw;
    /* z-index: 1; */
}