@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --main-bg-color: #e0dcdc;
  --main-color: #08160b;
  --nav-bg-color: #1d2e37;
  --nav-color: #c0c0c0;
  --a-span-bg-color: #82f17e;
  --a-span-bg-color: #e5f17e;
  --a-span-bg-color: #f17ebd;
  --a-span-bg-color: #f596ca;
  --a-span-color: #945210;
  --a-span-color: #311d08;
  --p-1-px: 0.0625rem;
  --p-2-px: 0.125rem;
  --p-5-px: 0.3125rem;
  --p-7-px: 0.4375rem;
  --p-10-px: 0.625rem;
  --p-30-px: 1.875rem;
  /* --p-40-px: 2.5rem; */
  /* --p-42-px: 2.625rem; */
  --p-50-px: 3.125rem;
  --p-80-px: 5rem;
  --p-100-px: 6.25rem;
  --p-120-px: 7.5rem;
  /* --p-neg-5-px: -0.3125rem; */
  /* --p-neg-18-px: -1.125rem; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Cutive Mono", monospace,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 540px) {
  * {
    font-size: 1rem;
  }

  #header img {
    height: var(--p-80-px);
    vertical-align: middle;
    width: var(--p-80-px);
  }

  .header-container {
    display: inline-block;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    padding-bottom: var(--p-5-px);
  }

  .portfolio-lists li {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    display: inline-block;
  }

  .portfolio-lists li a {
    margin: auto;
    /* padding-left: var(--p-10-px); */
  }

  .portfolio-lists li a img {
    /* max-width: 350px;
    max-width: 330px; */
  }

  .portfolio-lists li a:hover span,
  .portfolio-lists li a:focus span {
    font-size: 0.8rem;
    left: 10%;
    /* max-width: 250px; */
  }

  .footer-container {
    display: inline-block;
    padding-top: var(--p-10-px);
    text-align: center;
  }
}
