/* @import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --main-bg-color: #e0dcdc;
  --main-color: #08160b;
  --nav-bg-color: #1d2e37;
  --nav-color: #c0c0c0;
  --img-b-bottom-color: rgb(128, 47, 0);
  --a-span-bg-color: #82f17e;
  --a-span-bg-color: #e5f17e;
  --a-span-bg-color: #f17ebd;
  --a-span-bg-color: #f596ca;
  --a-span-color: #945210;
  --a-span-color: #311d08;
  --p-1-px: 0.0625rem;
  --p-2-px: 0.125rem;
  --p-4-px: 0.25rem;
  --p-5-px: 0.3125rem;
  --p-7-px: 0.4375rem;
  --p-10-px: 0.625rem;
  --p-20-px: 1.25rem;
  --p-30-px: 1.875rem;
  --p-50-px: 3.125rem;
  --p-80-px: 5rem;
  --p-100-px: 6.25rem;
  --p-120-px: 7.5rem;
  --p-250-px: 15.625rem;
  --p-300-px: 18.75rem;
  --p-350-px: 21.875rem;
  --p-500-px: 31.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--main-bg-color); */
  font-family: -apple-system, BlinkMacSystemFont, "Cutive Mono", monospace,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 540px) {
  * {
    font-size: 1rem;
  }

  #header img {
    height: var(--p-100-px);
    vertical-align: middle;
    width: var(--p-100-px);
  }

  .header-container,
  .footer-container {
    display: inline-block;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    padding-bottom: var(--p-20-px);
    padding-left: var(--p-10-px);
  }

  #about {
    margin: 0;
  }

  #about * {
    max-width: 98%;
  }

  #about h3 {
    font-size: 1.6rem;
  }

  #about p:nth-child(2) {
    font-size: 1.3rem;
  }

  .portfolio-lists li,
  .certificate-lists li {
    display: grid;
    grid-template-columns: auto;
  }

  .portfolio-lists li a:hover span,
  .portfolio-lists li a:active span,
  .portfolio-lists li a:focus span,
  .certificate-lists li a:hover span,
  .certificate-lists li a:active span,
  .certificate-lists li a:focus span {
    font-size: 0.8rem;
    left: 12%;
  }

  .portfolio-lists li a img,
  .certificate-lists li a img {
    border-bottom: var(--p-4-px) solid var(--img-b-bottom-color);
  }

  .certificate-lists img {
    height: var(--p-350-px);
    width: var(--p-350-px);
  }

  .certificate-lists li a:hover span,
  .certificate-lists li a:focus span {
    max-width: var(--p-250-px);
  }
}
