nav {
    background-color: #d6ffff;
    width: 100vw;
}

ul {
    display: flex;
}

button {
  display: none;
}

li {
    font-size: 3vh;
    list-style-type: none;
    margin: 0 2vw;
}

a {
    color: #000;
    font-family: monospace;
    /* padding: 2vw; */
    text-decoration: none;
}

a:hover {
    background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
  ul {
    flex-direction: column;
  }

  button {
    align-self: flex-start;
    background-color: #AFE0FF;
    border: none;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 3vh;
    outline: none;
    padding: 2vh;
  }

  li {
    margin: 1vw;
  }

  a {
    display: block;
  }
}